/* Sidebar Styling */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 360px;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    background-color: var(--accent-1-color);
}

.profile h2 {
    font-size: var(--h6-font);
}

.profile p {
    font-size: var(--p-font);
    color: var(--accent-2-color);
}

.sidebar-nav ul {
    list-style: none;
    padding-left: 20px;
    width: 100%;
}
  
.sidebar-nav li {
    margin: 10px 0;
}
  
.sidebar-nav a {
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--h6-font);
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    transition: 0.2s ease-in;
}

.sidebar-nav a i{
    margin-right: 10px;
}
.sidebar-nav a:hover {
    transform: scale(1.02);
    color: var(--main-color);
}

.logout-button {
    margin-top: auto;
    width: 100%;
    padding: 10px 20px;
    background-color: var(--danger-color);
    border: none;
    color: var(--text-color);
    font-size: var(--h6-font);
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.logout-button:hover {
    background-color: #e5383be0;
}